# Ignore build files
/build

# Ignore editor files
/.vscode
/.vs
/CMakeSettings.json

# Ignore dependencies (manual install)
/dependency/qcustomplot/qcustomplot.cpp
/dependency/qcustomplot/qcustomplot.h


# Ignore app files
*.csv
CellEffConfig.json
