# Ignore build files
/build

# Ignore editor files
/.vscode
/.vs
/CMakeSettings.json

# Ignore dependency files
/dependency/qcustomplot/qcustomplot.cpp
/dependency/qcustomplot/qcustomplot.h
/vcpkg.json
